* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Public Sans', sans-serif;
  position: fixed;
  z-index: 1000px;
  width: 100%;
  padding: 30px 100px 30px 100px;
  margin-top: -2%;
  margin-left: -7%;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header a {
  text-decoration: none;
  color: #9698a6;
}

header button {
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
}

header button:hover {
  background-color: #31d35c;
}

.nav {
  margin-left: -30%;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu-nav li a {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}

.menu-nav li a:hover {
  border-bottom: 4px solid #31d35c;
  color: #2d314d;
}

.next-gen {
  background: url(../images/bg-intro-desktop.svg), #fafafa;
  background-repeat: no-repeat;
  background-position: 120% center;
  background-size: 60%;
  position: relative;
  /*&-body {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }*/
}

h1 {
  color: #2d314d;
  font-size: 60px;
  font-weight: 500;
  padding: 8% 50% 50px 0;
  font-family: 'Public Sans', sans-serif;
}

p {
  color: #9698a6;
  font-weight: 300;
  font-size: 20px;
  padding: 0 50% 50px 0;
  font-family: 'Public Sans', sans-serif;
}

button {
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  color: white;
}

.mockups {
  position: absolute;
  right: 0;
  top: -80px;
  right: -119px;
  width: 40vw;
}

.y-easybank {
  background-color: #f3f4f6;
}

.y-easybank h1 {
  padding: 5% 2% 3% 0;
  font-size: 40px;
}

.easy-bank-icons {
  font-family: 'Public Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-bank-icons h2 {
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 30px;
  margin-top: 30px;
}

.easy-bank-icons p {
  color: #9698a6;
  font-weight: 300;
  font-size: 17px;
  padding: 0 30px 0 0;
}

/* HAMBURGER */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #2d314d;
  transition: all 0.5s ease-in-out;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
  position: absolute;
  content: " ";
}

.menu-btn_lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn_lines::after {
  transform: translateY(0.5rem);
}

/*ANIMATIONS*/
.menu-btn.open .menu-btn_lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn_lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.menu-btn.open .menu-btn_lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

/*----- ARTICLES-----*/
.articles-section {
  font-family: 'Public Sans', sans-serif;
  background-color: #fafafa;
}

.articles-section h1 {
  font-size: 40px;
}

.articles-section .articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;*/
  margin-bottom: 70px;
}

.articles-section .articles .article-pic {
  width: 100%;
  height: 26vh;
}

.articles-section .articles .article-pics {
  width: 100%;
}

.articles-section .articles-partials {
  background-color: white;
  padding: 5px;
}

.articles-section .articles-partials h5 {
  font-size: 15px;
  color: #9698a6;
  margin-top: 10px;
  font-weight: 300;
  padding: 0 20px;
  margin-bottom: 15px;
  font-family: 'Public Sans', sans-serif;
}

.articles-section .articles-partials h3 {
  color: #2d314d;
  font-weight: 700;
  font-size: 20px;
  padding: 0 20px;
  font-family: 'Public Sans', sans-serif;
}

.articles-section .articles-partials h3:hover {
  color: #31d35c;
  cursor: pointer;
}

.articles-section .articles-partials p {
  color: #9698a6;
  font-size: 16.5px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 25px;
  font-family: 'Public Sans', sans-serif;
}

/*----- FOOTER -----*/
footer {
  background: #2d314d;
}

footer .footer-parts {
  font-family: 'Public Sans', sans-serif;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-parts .logo-white {
  margin-top: 20px;
}

footer .footer-parts .icons {
  margin-top: 50px;
}

footer .footer-parts .icons:hover {
  color: #31d35c;
}

footer .footer-parts .icons img {
  margin-left: 7px;
}

footer .footer-parts .third-foot {
  margin-left: -100px;
}

footer .footer-parts li {
  list-style: none;
  margin-top: 20px;
}

footer .footer-parts li a {
  text-decoration: none;
  font-size: 300;
}

footer .footer-parts li a:hover {
  color: #31d35c;
}

footer .footer-parts a {
  color: white;
}

footer .footer-parts button {
  margin-top: 20px;
}

footer .footer-parts .copyright {
  color: #9698a6;
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  header {
    top: -1px;
    margin-left: -18px;
    margin-top: 0px;
  }
  header .logo-color {
    margin-left: -30px;
  }
  header button {
    display: none;
  }
  .next-gen {
    background: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
  }
  .next-gen h1 {
    padding: 0;
    text-align: center;
  }
  .next-gen p {
    padding: 25px 20px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
  }
  .next-gen button {
    margin-top: 15px;
    margin-left: 35%;
    margin-bottom: 20px;
  }
  .top {
    margin-top: 120%;
  }
  .mockups {
    top: -10%;
    left: 10%;
    width: 100%;
  }
  .y-easybank h1 {
    font-size: 50px;
    text-align: center;
  }
  .y-easybank p {
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  .y-easybank .easy-bank-icons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .y-easybank .easy-bank-icons .icon-img {
    margin-top: 30px;
  }
  .articles-section h1 {
    padding: 0;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
  }
  .articles-section .articles {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .articles-section .articles .article-pics {
    margin-top: 10px;
  }
  .footer-parts {
    display: flex;
    flex-direction: column;
  }
  .footer-parts .logo-white {
    margin-left: 30px;
    padding-top: 10px;
  }
  .footer-parts .icons {
    margin-left: -2%;
  }
  .footer-parts .icons img {
    margin-right: 14px;
  }
  .footer-parts .third-foot {
    margin-top: 40px;
    text-align: center;
    margin-right: -80px;
  }
  .footer-parts .last-foot {
    margin-top: 35px;
  }
  .footer-parts .last-foot button {
    margin-left: 35px;
  }
  .menu-btn {
    display: flex;
    margin-left: 65%;
  }
  .menu-nav {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 130%;
    right: 50px;
    left: 50px;
    height: 40vh;
    transform: translateX(100vw);
    background-color: white;
    transition: transform 0.3s ease-in-out;
  }
  .menu-nav li a {
    color: #2d314d;
  }
  .menu-nav.open {
    transform: translateX(0);
  }
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.container-wrapper {
  position: relative;
  background-color: #fff;
  z-index: 1000;
}

body {
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
